.prescription {
  &-list {
    // background-color: hsl(0, 0%, 19%);
    padding: 14px 8px 0px 8px;
    // border-radius: 8px;
  }
  &-add {
    line-height: 3rem;
  }
  &-title {
    font-size: 1rem;
  }
  &-divider {
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
  }
}
